@{
    ViewBag.Title = "Yap";
    Layout = "~/Views/Shared/_LayoutCalisan.cshtml";
}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

<head>
    <style>
        body {
            background-color: #F1F0E8; /* Sayfa arka plan rengi */
        }

        .card-header {
            background-color: #EEE0C9; /* Card header arka plan rengi */
            color: black; /* Card header metin rengi */
        }
    </style>
</head>
<div class="d-flex m-2 ">
    <div class="card mb-2 mb-lg-0 me-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="background-color: #EEE0C9; color: black;">
                <strong>Tamamlanması Gereken İs Sayısı: @ViewBag.TamamlanmayiBekleyenİsSayısı</strong>
            </li>
        </ul>
    </div>
</div>

<div class="container mt-2">
    @if (ViewBag.Mesaj != null)
    {
        <div class="alert alert-info fw-bold">
            @ViewBag.Mesaj
        </div>
    }
    @using (Html.BeginForm("Yap", "Calisan", FormMethod.Get))
    {
        <div class="col-md-3 mb-0 me-4">
            <label class="form-label"><strong>Aciliyet Seviyesine Göre İşleri Getir</strong></label>

            <div class="d-flex align-items-center">
                <div class="form-check me-2" style="color: #00ff21; min-width: 90px;">
                    <input class="form-check-input" type="radio" name="aciliyetSeviyesi" id="exampleRadios1" value="Normal" @if (Request.QueryString["aciliyetSeviyesi"] == "Normal") { <text> </text> }>
                    <label class="form-check-label" for="exampleRadios1">
                        <strong> Normal </strong>
                    </label>
                </div>

                <div class="form-check me-2" style="color: #ffd800; min-width: 70px;">
                    <input class="form-check-input" type="radio" name="aciliyetSeviyesi" id="exampleRadios2" value="Acil" @if (Request.QueryString["aciliyetSeviyesi"] == "Acil") { <text> </text> }>
                    <label class="form-check-label" for="exampleRadios2">
                        <strong> Acil </strong>
                    </label>
                </div>

                <div class="form-check me-2" style="color: #ff0000; min-width: 100px;">
                    <input class="form-check-input" type="radio" name="aciliyetSeviyesi" id="exampleRadios3" value="Çok Acil" @if (Request.QueryString["aciliyetSeviyesi"] == "Çok Acil") { <text> </text> }>
                    <label class="form-check-label" for="exampleRadios3">
                        <strong> Çok Acil </strong>
                    </label>
                </div>

                <button type="submit" class="btn btn-primary" style="margin-left: auto;">Filtrele</button>
            </div>
        </div>
    }

    <div class="row">
        @foreach (var i in ViewBag.isler)
        {
            <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                @using (Html.BeginForm("Yap", "Calisan", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="card">
                        <div class="card-header text-center fw-bold">
                            @i.isBaslik-
                            <span class="mb-1 ms-2">

                                @if (i.AciliyetSeviyesi == "Normal")
                                {
                                    <span style="color: #00ff21;"> <strong>  @i.AciliyetSeviyesi </strong></span>
                                }
                                else if (i.AciliyetSeviyesi == "Acil")
                                {
                                    <span style="color: #ffd800;"> <strong>  @i.AciliyetSeviyesi </strong></span>
                                }
                                else if (i.AciliyetSeviyesi == "Çok Acil")
                                {
                                    <span style="color: #ff0000;">  <strong>  @i.AciliyetSeviyesi </strong> </span>
                                }
                            </span>

                        </div>
                        <div class="card-body">
                            <input type="hidden" name="isId" value="@i.isId" />
                            <div class="mb-2">
                                <p class="mb-0"><strong>İş Açıklama:</strong> @i.isAciklama</p>
                            </div>
                            <div class="mb-2">
                                <strong>İletilen Tarih:</strong> @i.iletilenTarih
                            </div>
                            <div class="mb-2">
                                <strong>Yapıma Başlandığı Tarih:</strong> @i.YapimaBaslama
                            </div>
                            <div class="mb-2">
                                <strong>İşin Okunduğu Tarih:</strong> @(i.isOkunmaTarihi != null ? i.isOkunmaTarihi.ToString("dd MMMM yyyy HH:mm") : "Henüz Okunmadı İş")
                            </div>
                            <div class="mb-2">
                                <strong>Yapilması Plananan Tarih:</strong> @i.YapilicakTarih
                            </div>
                            <div class=" mb-2">
                                <strong> Yapılıyor İş Yorum</strong> @i.yapiliyorisYorum
                            </div>


                            <div class="mb-2">
                                <!-- çalışanın yorum satırı -->
                                <label for="isYorum" class="fw-bold">Yorum Giriniz:</label>
                                <input type="text" class="form-control" id="isYorum" name="isYorum" />
                            </div>
                            <div class="mb-2">
                                <!-- Fotoğraf seçimi -->
                                <label for="image" class="fw-bold">Fotoğraf Seçiniz:</label>
                                <input type="file" class="form-control" id="image" name="image" />
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" name="actionType" value="Tamamla" class="btn btn-outline-success"><strong> Tamamla </strong></button>
                        </div>
                    </div>
                    <br />
                }
            </div>
        }
    </div>
</div>
